.box {
    background-color: rgb(0 0 0 / 0.7);
  color: #fff;
  }

.boxh{
  height: 300px;
}

  /* .worker {
    transition: transform 0.3s ease; 
  }
  
  .worker:hover {
    transform: scale(1.2); 
  } */